html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

main {
	max-width: 960px;
	margin: 30px auto;
}

h1,
h2,
h3 {
	text-align: center;
}

button {
	background-color: white;
	border-radius: 2px;
	color: grey;
	border: 3px solid grey;
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin: 20px auto;
	padding: 4px 8px;
	text-transform: uppercase;
}

button:hover,
button:focus {
	background-color: grey;
	color: white;
}

.stimulus-container {
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 400px;
}

.stimulus {
	background-color: grey;
	height: 120px;
	left: 140px;
	position: absolute;
	top: 90px;
	width: 120px;
}

/* does not display the element */
.nodisplay {
	display: none;
}

.target {
	color: red;
}